.fondo-container {
    background-image: url('../../assets/coche-carreras-rojo-numero-10-lateral_81048-7594.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(3, 4, 5, 0.805);
    width: 200px;
    height: 100%;

    position: relative;
}

.info-container p{
  color: white;
}

.info-container h1{
  position: absolute;
  top: 0px;
  color: white;
}